*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu{
    background-color: #1A202c;
    color: #fff;
    height: 70px;
}
.logo{
    width: 85px;
    height: 60px;
  
}
.menu_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;

}
.menu_links{
    height: 100%;
    transition: transform .5s;
    display: flex;
}
.menu_item{
    list-style: none;
    position: relative;
    height: 100%;
    --clip:  polygon(0 0, 100% 0, 100% 0, 0 0);
    --transform: rotate(-90deg);
}
.menu_item:hover{
--clip:  polygon(0 0, 100% 0, 100% 100%, 0% 100%);
--transform: rotate(0);
}

.menu_arrow{
    transform: var(--transform);
    transition: .3s;
    display: block;
    margin-left: 3px;
}

.menu_aa{
    list-style: none;
    transition: clip-path .3s;
    clip-path: var(--clip);
    position: absolute;
    right: 0;
    bottom: 0;
    width: max-content;
    transform: translateY(100%);
    background-color: #000;
}

.menu_link{
    color: #fff;
    text-decoration: none;
    padding: 0 30px;
    display: flex;
    height: 100%;
    align-items: center;   
}
.menu_link:hover{
    background-color: #3c4d70;
}
.menu_link--dentro{
    padding: 30px 100px 30px 20px;
}
.menu_link--dentro:hover{
    background-color: #798499;
}
.menu_blow{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    display: none;   
}
.menu_img{
    display: block;
    width: 36px;

}
@media (max-width:800px){
    .menu_blow{
        display: flex;
    }
    .menu_links{
        position: fixed;
        max-width: 400px;
        width: 100%;
        top: 70px;
        right: 0;
        bottom: 0;
        background-color: #000;
        overflow-y: auto;
        display: grid;
        grid-auto-rows: max-content;

    }
    .menu_link{
        padding: 25px 0;
        padding-left: 30px;
        height: auto;

    }
    .menu_arrow{
        margin-left: auto;
        margin-right: 20px;
    }
    .menu_dentro{
        display: grid;
        position: unset;
        width: 100%;
        transform: translateY(0);
        height: 0;
        transition: height .3s;
    }
    .menu_link--dentro{
        width: 90%;
        margin-left: auto;
        border-left: 1px solid #798499;
    }
    .menu_item{
        --clip:0;
        overflow: hidden;
    }
}
.carousel-inner img{
    width: 100px;
    height: 500px;   
}
.carousel-inner{
    margin-top: 80px;
}
body{
    background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, hsla(197, 38%, 28%, 0.068), #203a4367, #0F2027), url(aaa.jpg);
 /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.imagenes-body img{
    width: 350px;
    height: 350px;
    margin: 15px;
   float: left;
   margin-top: 100px;
   margin-bottom: 200px;
   
}

.cards{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}
.contenido h3{
    color: #fff;
    font-weight: 400;


}
.contenido p{
    color: #fff;
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;

}
.contenido a{
    font-weight: 500;
    text-decoration: none;
    color: #3498db;



}
 .contenido{
    width: 330px;
    height: 430px;
    border-radius: 0px;
    box-shadow: 0 2px 2px rgba(0,0, 0,0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transform: all 0.25s;
}

.contenido:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);


}
.contenido img{
    width: 330px;
    height: 220px;
}

.container-texto p{
    margin-top: 40px;
    margin-bottom: 40px;
    color: #fff;
    text-align: right;
    margin-right: 20px;
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: right;
}

h1{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 60px;
    color: #fff;
}



.container{
    max-width: 1200px;
    margin: 0 auto;

}
.content-footer{
background-color: #1A202c;
padding: 80px 0;
float: right;
width: 100%;
}
.footer-row{
    display: flex;
    flex-wrap: wrap;
}
.links-footer{
    width: 25%;
    padding: 0 15px;
   

}
.links-footer h4{
    font-size: 24px;
    background-color: #1A202c;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #00c3ff;
    display: inline-block;
    padding-bottom: 10px;
    color: #fff;


}
.links-footer ul li a{
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
    

}
.links-footer ul li a:hover{
    text-decoration: underline;
    padding-left: 6px;

}
.links-footer ul{
    list-style: none;
}
@media (max-width:800px){
    .footer-row{
        text-align: center;

    }
    .links-footer{
        width: 100%;
        margin-bottom: 30px;
    }
}